.tableWrap{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table th, table td{
    width: 250px;
    border: 1px solid black;
    text-align: center;
    padding: 12px 40px;
    font-size: larger;
    color: #fff;
    background-color: #000;
}

table th{
    color: #fff;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

input {
    padding: 5px;
    margin-right: 5px;
}

.edit{
    margin-right: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 62px;
    height: 30px;
}

.edit:hover{
    background-color: rgb(53, 53, 205);
    color: #fff;
}

.delete{
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 62px;
    height: 30px;
}

.delete:hover{
    background-color: rgb(244, 69, 69);
    color: #fff;
}

.addForm{
    width: 16.6rem;
    height: 38px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.addForm:hover{
    background-color: rgb(18, 240, 166);
}

.updateBtn{
    width: 6rem;
    height: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.updateBtn:hover{
    color: #fff;
    background-color: rgb(98, 234, 30);
}

form input{
    border-radius: 5px;
    width: 240px;
    outline: 1px solid #20c997;
}